


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #47c462;
}

.navegacao{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(221, 133, 220, 0.8);
    z-index: 100;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: rgb(203, 15, 184);
    font-weight: 500;
    position: relative;
    padding: 0,5 0;
}

.menu-link::before {
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background:linear-gradient(90deg, #261ebc, #7c3aed);
    transition: width 0.5s ease;
}

.menu-link:hover:before {
    width: 100%;
}

body{
    background-color: #000;
    color: #e2e8f0;
}

.foto-perfil{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.principal{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-foto{
    text-align: center;
}
.div-foto h1{
    font-size: 35px;
    color: red;
    margin: 5px;
}

.div-foto p{
    font-size: 1.5rem;
    color: rgba(238, 34, 133, 0.533);
}

.sobre{
    padding: 6rem 2rem;
}

.sobre-titulo{
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.sobre-caixa{
    padding: 2rem;
    max-width: 0 auto;
    border-radius: 16px;
    border: 1px solid white;
    background: white;
}

.sobre-paragrafo{
    text-align: center;
    font-size: 16px;
}